:root {
  --page-bg: #161722;
  --text-1: #e4e5f1;
  --text-2: #a6abd8;
  --text-3: #777a92;
  --text-4: #4d5066;
  --card-bg: #25273c;
  --border: #323449;
  --checkbox-blue: #3a7bfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--page-bg);
}

main {
  padding: 3rem 0;
}

input:focus {
  outline: none;
}

li {
  list-style-type: none;
  color: var(--text-2);
}

.container {
  width: min(40rem, 80%);
  padding: 1.5rem 1rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: var(--card-bg);
}

.container:not(:last-child) {
  margin-bottom: 1rem;
}

.input {
  background-color: var(--card-bg);
  border: none;
  color: var(--text-1);
}

.input::placeholder {
  color: var(--text-4);
}

.todo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 0.15rem solid var(--border);
}

.todo__container:first-child {
  padding-top: 0;
}

.todo__btn,
.todo__checkbox {
  background: transparent;
  border: none;
}

.checkbox__container {
  position: relative;
  cursor: pointer;
  height: 1.75rem;
  width: 1.75rem;
}

.todo__checkbox {
  opacity: 0;
  cursor: pointer;
  height: 1.75rem;
  width: 1.75rem;
}

.todo__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--border);
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.checkbox__container:hover .todo__checkbox ~ .todo__checkmark {
  background-color: var(--page-bg);
}

.todo__checkbox:checked ~ .todo__checkmark {
  background-color: var(--checkbox-blue);
}

.todo__checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox__container .todo__checkbox:checked ~ .todo__checkmark:after {
  display: block;
}

.checkbox__container .todo__checkmark:after {
  left: 0.6rem;
  top: 0.4rem;
  width: 0.3rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 0.15rem 0.15rem 0;
  transform: rotate(45deg);
}

.todo__item {
  width: 85%;
}

.todo__container.checked .todo__item {
  color: var(--text-3);
  text-decoration: line-through;
}

.add__btn {
  height: 1.75rem;
  width: 1.75rem;
  background: none;
  border: 1px solid var(--border);
  border-radius: 50%;
  margin-right: 0.5rem;
  color: var(--text-2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add__btn:hover {
  background-color: var(--checkbox-blue);
  color: white;
}

.todo__panel {
  display: flex;
  padding-top: 1.5rem;
  justify-content: space-between;
}

.todo__filter {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.btn {
  background: none;
  border: none;
  color: var(--text-4);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.btn:hover {
  color: white;
}

.todo__left {
  color: var(--text-4);
}

.btn--active{
  color: var(--checkbox-blue);
}
