:root {
  --page-bg: #161722;
  --text-1: #e4e5f1;
  --text-2: #a6abd8;
  --card-bg: #25273c;
  --border: #323449;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--page-bg);
}

input:focus {
  outline: none;
}

li {
  list-style-type: none;
  color: var(--text-2);
}

.container {
  width: min(40rem, 80%);
  padding: 1.5rem 1rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: var(--card-bg);
}

.container:not(:last-child) {
  margin-bottom: 1rem;
}

.input {
  padding: 0.5rem 0.25rem;
  background-color: var(--card-bg);
  border: none;
  color: var(--text-1);
}

.todo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.todo__container:not(:last-child) {
  border-bottom: 0.1rem solid var(--border);
}

.todo__btn {
  background: none;
  border: none;
}
